[Unit]
Description=Thermostat control script
#After=thermostat_read_temps.target
Requires=thermostat_read_temps.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pavouk/software/control
ExecStart=/home/pavouk/software/control/control.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
